.button {
  border: 1px solid $color-white;
  border-radius: 2rem;
  color: $color-white;
  font-family: $font-family-title__base;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 3.4rem;
  padding: 1rem 2.4rem;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    color: $color-white;
    text-decoration: none;
  }
  &.button-circle {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding: 0;
    line-height: 3.5;
    text-align: center;
    img {
      height: 1.3rem;
      width: 2.4rem;
    }
  }
  &.fullteam {
    text-align: center;
  }
}

.arrow {
  bottom: 10.4rem;
  margin-top: 0;
  position: absolute;
  &:before {
    background-color: $color-white;
    content:"";
    height: 10.4rem;
    position: absolute;
    width: 0.1rem;
    top: 5rem;
    left: 50%;
  }
}

.social-button {
  img {
    height: 2.5rem;
  }
}


.signup {
  background-color: $color-black;
}
