/* About section */

.section {
  background-color: $color-white-smoke;
  padding: 10rem 0;
}

.section-header {
  position: relative;
  text-align: center;
  &:before {
    background-color: $color-black;
    content: "";
    height: 0.2rem;
    position: absolute;
    width: 4rem;
    bottom: 0;
    @include translate(-50%,0);
  }
}

.title {
  font-size: 2.6rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.content {
    font-size: 1.4rem;
    padding: 1.6rem 0;
}

.feature {
  p {
    font-size: 1.6rem;
  }
  text-align: center;
}

.img-wrapper {
  background-color: $color-black;
  border-radius: 50%;
  height: 12rem;
  margin: 0 auto;
  padding: 4rem 3rem;
  text-align: center;
  width: 12rem;
}

.works {
  background-color: $color-white;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 6rem;
}

.gallery-wrapper {
  img {
    width: 100%;
  }
}

.client {
  background-color: $color-white;
  padding-top: 0;
}

.slideshow {

  .slide {
    margin-top: 5.9rem;
    text-align: center;
    .quote {
      font-size: 4rem;
      font-weight: bold;
    }
    img {
      margin: auto;
    }
  }

  .slick-dots {

    button {
      border: 1px solid $color-black;
      border-radius: 50%;
      &:before {
        content:"";
      }
      }
    }

    .slick-active {
      button {
        background-color: $color-black;
      }

    }
}





.team {
  background-image: url(../img/img_bg-2.png);
  background-size: cover;
  height: calc(100vw*9/16);
  position: relative;
  width: 100%;
  z-index: -2;
  &:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    @include custom-gradient(#29323C, #485563, 0%, 100%, $deg: 180deg);
    @include opacity(.5);
  }
  .section-header {
    color: $color-white;
    &:before {
      content:"";
      background-color: $color-white;
    }
  }
}

.people {
  margin-top: 8.5rem;
}

.people-info {
  background-color: $color-white-smoke-darker;
  color: $color-black;
  opacity: .75;
  padding: 3rem 0;
  width: 27rem;
  h4 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.fullteam {
  margin-top: 9.4rem;
  margin-bottom: 7rem;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 15rem;
  margin-top: auto;
  .brand {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

.pricing {
  background-color: $color-white;
  .section-header {
  color: $color-black;
  &:before {
    background-color: $color-black;
    content: "";
    height: 0.2rem;
    position: absolute;
    width: 4rem;
    bottom: 0;
    @include translate(-50%,0);
  }
  }
}

.price {
  margin-top: 11.5rem;
}
.pack {
  padding: 0;
  &:first-child {
    .table-price {
      border-right: 0;
    }
  }
  &:last-child {
    .table-price {
      border-left: 0;
    }
  }
}
.stdvippack {
}

.table-price {
  border: 1px solid #DDDDDD;
  text-align: center;

  .top {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 3.5rem;
    h3 {
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: bold;

    }
    h4 {
      margin: 0;
      font-size: 4.5rem;
      font-weight: 400;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: 3.2rem;
      text-transform: uppercase;
    }
  }
  .middle {
    font-size: 1.4rem;
    line-height: 4rem;
    margin: 8.3rem 5rem 0;
  }
  .bottom {
    margin-bottom: 3.2rem;
    margin-top: 9.1rem;
  }

  &.bestpack {
    position: relative;
    border-top: 0;

    &:before {
    border: 1px solid #DDDDDD;
    border-width: 5px 1px 0;
    border-top-color: $color-black;
    content:"";
    height: 3.5rem;
    left: -1px;
    position: absolute;
    top: -3.5rem;
    width: calc(100% + 2px);

  }

  }
}


.last {
  padding: 0;
.mapform {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 650px;
  .map {
    background-image: url(../img/img-map.png);
    background-position: center;
  }
  .form {
    background-image: url(../img/img-bg_form.png);
    background-size: cover;
    position: relative;
    z-index: 0;
    &:after {
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      @include custom-gradient(#29323C, #485563, 0%, 100%, $deg: 180deg);
      @include opacity(.7);
    }
    .formwrap {
      padding-top: 11.3rem;
    }
    .form-group {
    padding: 0 0 2.5rem 19.8rem;

    .form-control {
      background: transparent;
      border: 1px solid $color-white;
    }
    label {
      font-weight: 200;
      color: $color-white;

    }
  }
  }
}
}
